In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("customer_activity.csv")  # Ensure the filename matches

# Display the first few rows
df.head()

,administrative,administrative_duration,informational,informational_duration,product_related,product_related_duration,bounce_rates,exit_rates,page_values,month,operating_systems,browser,region,traffic_type,visitor_type,weekend,revenue
0,0.0,0.0,0,0.0,4.0,0.0,0.2000,0.200,0.0,May,Android,Google Chrome,North America,Twitter,Returning_Visitor,False,False
1,0.0,0.0,0,0.0,26.0,876.0,0.0000,0.026,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
2,2.0,99.4,0,0.0,19.0,368.0,0.0396,0.052,0.0,Sep,Windows,Google Chrome,Asia,Twitter,Returning_Visitor,False,False
3,0.0,0.0,0,0.0,20.0,1432.0,0.0248,0.028,1.8,Dec,Windows,Google Chrome,Western Europe,Instagram ads,Returning_Visitor,False,True
4,0.0,0.0,0,0.0,33.0,694.0,0.0141,0.032,0.0,May,Android,Google Chrome,North America,Instagram ads,Returning_Visitor,False,False

In [2]:
# Check column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  float64
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  float64
 4   product_related           11751 non-null  float64
 5   product_related_duration  12129 non-null  float64
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  object
 10  operating_systems         12319 non-null  object
 11  browser                   12330 non-null  object
 12  region                    12330 non-null  object
 13  traffic_type              12330 non-null  object
 14  visitor_type              12330 non-null  object
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: bool(2), float64(8), int64(1), object(6)
memory usage: 1.4+ MB

In [3]:
df.isnull().sum()

administrative              570
administrative_duration     912
informational                 0
informational_duration      336
product_related             579
product_related_duration    201
bounce_rates                  0
exit_rates                    0
page_values                   0
month                         0
operating_systems            11
browser                       0
region                        0
traffic_type                  0
visitor_type                  0
weekend                       0
revenue                       0
dtype: int64

In [4]:
# Fill missing numerical values with 0
df[['administrative', 'administrative_duration', 'informational_duration', 
    'product_related', 'product_related_duration']] = df[['administrative', 'administrative_duration', 
    'informational_duration', 'product_related', 'product_related_duration']].fillna(0)

# Fill missing categorical values with the most common value
df['operating_systems'].fillna(df['operating_systems'].mode()[0], inplace=True)

# Check if missing values are gone
print(df.isnull().sum())

administrative              0
administrative_duration     0
informational               0
informational_duration      0
product_related             0
product_related_duration    0
bounce_rates                0
exit_rates                  0
page_values                 0
month                       0
operating_systems           0
browser                     0
region                      0
traffic_type                0
visitor_type                0
weekend                     0
revenue                     0
dtype: int64

/var/folders/fz/44yjv3cd7cg9ly7n7124xgw00000gn/T/ipykernel_4845/1710244977.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['operating_systems'].fillna(df['operating_systems'].mode()[0], inplace=True)

In [1]:
# Check data types and missing values
df.info()

# Check for unique values in categorical columns
df.nunique()

NameError: name 'df' is not defined

In [2]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("customer_activity.csv")  # Ensure the filename matches

# Display the first few rows
df.head()

,administrative,administrative_duration,informational,informational_duration,product_related,product_related_duration,bounce_rates,exit_rates,page_values,month,operating_systems,browser,region,traffic_type,visitor_type,weekend,revenue
0,0.0,0.0,0,0.0,4.0,0.0,0.2000,0.200,0.0,May,Android,Google Chrome,North America,Twitter,Returning_Visitor,False,False
1,0.0,0.0,0,0.0,26.0,876.0,0.0000,0.026,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
2,2.0,99.4,0,0.0,19.0,368.0,0.0396,0.052,0.0,Sep,Windows,Google Chrome,Asia,Twitter,Returning_Visitor,False,False
3,0.0,0.0,0,0.0,20.0,1432.0,0.0248,0.028,1.8,Dec,Windows,Google Chrome,Western Europe,Instagram ads,Returning_Visitor,False,True
4,0.0,0.0,0,0.0,33.0,694.0,0.0141,0.032,0.0,May,Android,Google Chrome,North America,Instagram ads,Returning_Visitor,False,False

In [3]:
# Convert categorical columns to category type
categorical_cols = ['month', 'operating_systems', 'browser', 'region', 'traffic_type', 'visitor_type']
df[categorical_cols] = df[categorical_cols].astype('category')

# Check the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  float64
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  float64
 4   product_related           11751 non-null  float64
 5   product_related_duration  12129 non-null  float64
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  category
 10  operating_systems         12319 non-null  category
 11  browser                   12330 non-null  category
 12  region                    12330 non-null  category
 13  traffic_type              12330 non-null  category
 14  visitor_type              12330 non-null  category
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: bool(2), category(6), float64(8), int64(1)
memory usage: 966.0 KB

In [4]:
df.head()

,administrative,administrative_duration,informational,informational_duration,product_related,product_related_duration,bounce_rates,exit_rates,page_values,month,operating_systems,browser,region,traffic_type,visitor_type,weekend,revenue
0,0.0,0.0,0,0.0,4.0,0.0,0.2000,0.200,0.0,May,Android,Google Chrome,North America,Twitter,Returning_Visitor,False,False
1,0.0,0.0,0,0.0,26.0,876.0,0.0000,0.026,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
2,2.0,99.4,0,0.0,19.0,368.0,0.0396,0.052,0.0,Sep,Windows,Google Chrome,Asia,Twitter,Returning_Visitor,False,False
3,0.0,0.0,0,0.0,20.0,1432.0,0.0248,0.028,1.8,Dec,Windows,Google Chrome,Western Europe,Instagram ads,Returning_Visitor,False,True
4,0.0,0.0,0,0.0,33.0,694.0,0.0141,0.032,0.0,May,Android,Google Chrome,North America,Instagram ads,Returning_Visitor,False,False

In [5]:
df.isnull().sum()

administrative              570
administrative_duration     912
informational                 0
informational_duration      336
product_related             579
product_related_duration    201
bounce_rates                  0
exit_rates                    0
page_values                   0
month                         0
operating_systems            11
browser                       0
region                        0
traffic_type                  0
visitor_type                  0
weekend                       0
revenue                       0
dtype: int64

In [6]:
# Fill missing numerical values with the median
num_cols = ['administrative', 'administrative_duration', 'informational_duration',
            'product_related', 'product_related_duration']
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Fill missing categorical values with the mode
df['operating_systems'].fillna(df['operating_systems'].mode()[0], inplace=True)

# Check if all missing values are fixed
df.isnull().sum()

/var/folders/fz/44yjv3cd7cg9ly7n7124xgw00000gn/T/ipykernel_3916/1838875805.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['operating_systems'].fillna(df['operating_systems'].mode()[0], inplace=True)

administrative              0
administrative_duration     0
informational               0
informational_duration      0
product_related             0
product_related_duration    0
bounce_rates                0
exit_rates                  0
page_values                 0
month                       0
operating_systems           0
browser                     0
region                      0
traffic_type                0
visitor_type                0
weekend                     0
revenue                     0
dtype: int64

In [7]:
# Check median values for numerical columns
num_cols = ['administrative', 'administrative_duration', 'informational_duration',
            'product_related', 'product_related_duration']
median_values = df[num_cols].median()
print("Median values used to fill numerical columns:\n", median_values)

# Check mode value for categorical column
mode_value = df['operating_systems'].mode()[0]
print("\nMode value used to fill 'operating_systems':", mode_value)

Median values used to fill numerical columns:
 administrative                1.0
administrative_duration       6.0
informational_duration        0.0
product_related              18.0
product_related_duration    586.0
dtype: float64

Mode value used to fill 'operating_systems': Windows

In [8]:
print(df.isnull().sum())

administrative              0
administrative_duration     0
informational               0
informational_duration      0
product_related             0
product_related_duration    0
bounce_rates                0
exit_rates                  0
page_values                 0
month                       0
operating_systems           0
browser                     0
region                      0
traffic_type                0
visitor_type                0
weekend                     0
revenue                     0
dtype: int64

In [9]:
df.dtypes

administrative               float64
administrative_duration      float64
informational                  int64
informational_duration       float64
product_related              float64
product_related_duration     float64
bounce_rates                 float64
exit_rates                   float64
page_values                  float64
month                       category
operating_systems           category
browser                     category
region                      category
traffic_type                category
visitor_type                category
weekend                         bool
revenue                         bool
dtype: object

In [10]:
# Convert count columns to integer
df["administrative"] = df["administrative"].astype(int)
df["informational"] = df["informational"].astype(int)
df["product_related"] = df["product_related"].astype(int)


df.dtypes

administrative                 int64
administrative_duration      float64
informational                  int64
informational_duration       float64
product_related                int64
product_related_duration     float64
bounce_rates                 float64
exit_rates                   float64
page_values                  float64
month                       category
operating_systems           category
browser                     category
region                      category
traffic_type                category
visitor_type                category
weekend                         bool
revenue                         bool
dtype: object

In [11]:
df["month"].unique()

['May', 'Nov', 'Sep', 'Dec', 'Mar', 'June', 'Aug', 'Oct', 'Jul', 'Feb']
Categories (10, object): ['Aug', 'Dec', 'Feb', 'Jul', ..., 'May', 'Nov', 'Oct', 'Sep']

In [12]:
df["month"] = df["month"].replace("June", "Jun")

# Verify changes
df["month"].unique()

/var/folders/fz/44yjv3cd7cg9ly7n7124xgw00000gn/T/ipykernel_3916/1707092116.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["month"] = df["month"].replace("June", "Jun")

['May', 'Nov', 'Sep', 'Dec', 'Mar', 'Jun', 'Aug', 'Oct', 'Jul', 'Feb']
Categories (10, object): ['Aug', 'Dec', 'Feb', 'Jul', ..., 'May', 'Nov', 'Oct', 'Sep']

In [13]:
# Define mapping for month names to numbers
month_mapping = {
    "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6,
    "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12
}

# Apply mapping
df["month"] = df["month"].map(month_mapping)

# Verify changes
df["month"].unique()

[5, 11, 9, 12, 3, 6, 8, 10, 7, 2]
Categories (10, int64): [8, 12, 2, 7, ..., 5, 11, 10, 9]

In [14]:
df["month"] = df["month"].astype(int)

# Verify changes
print(df["month"].dtype)  # Should now be 'int64'
print(df["month"].unique())  # Should display numbers 1-12

int64
[ 5 11  9 12  3  6  8 10  7  2]

In [15]:
df["month"] = df["month"].astype(int)

# Verify changes
print(df["month"].dtype)  # Should now be 'int64'
print(df["month"].unique())  # Should display numbers 1-12

int64
[ 5 11  9 12  3  6  8 10  7  2]

In [16]:
print(df["visitor_type"].unique())
print(df["visitor_type"].dtype)

['Returning_Visitor', 'New_Visitor', 'Other']
Categories (3, object): ['New_Visitor', 'Other', 'Returning_Visitor']
category

In [17]:
df["visitor_type"] = df["visitor_type"].map({"Returning_Visitor": 1, "New_Visitor": 0})

# Verify the change
print(df["visitor_type"].unique())  # Should now show [1, 0]
print(df["visitor_type"].dtype)  # Should now be 'int64'

[ 1.  0. nan]
float64

In [18]:
print(df["visitor_type"].unique())  # Before transformation

[ 1.  0. nan]

In [19]:
df["visitor_type"] = df["visitor_type"].map({"Returning_Visitor": 1, "New_Visitor": 0})
df["visitor_type"].fillna(0, inplace=True)  # Convert NaN to 0
df["visitor_type"] = df["visitor_type"].astype(int)  # Ensure integer type

print(df["visitor_type"].unique())  # Expected output: [1, 0]
print(df["visitor_type"].dtype)  # Should now be int64

[0]
int64

/var/folders/fz/44yjv3cd7cg9ly7n7124xgw00000gn/T/ipykernel_3916/210078901.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["visitor_type"].fillna(0, inplace=True)  # Convert NaN to 0

In [20]:
df["visitor_type"].unique()

array([0])

In [21]:
print(df["visitor_type"].unique())  # Check original values before mapping

[0]

In [22]:
print(df["visitor_type"].dtype)  # Check if it's still categorical or has been converted
print(df.head())  # See the first few rows of the dataset

int64
   administrative  administrative_duration  informational  \
0               0                      0.0              0
1               0                      0.0              0
2               2                     99.4              0
3               0                      0.0              0
4               0                      0.0              0

   informational_duration  product_related  product_related_duration  \
0                     0.0                4                       0.0
1                     0.0               26                     876.0
2                     0.0               19                     368.0
3                     0.0               20                    1432.0
4                     0.0               33                     694.0

   bounce_rates  exit_rates  page_values  month operating_systems  \
0        0.2000       0.200          0.0      5           Android
1        0.0000       0.026          0.0     11           Windows
2        0.0396       0.052          0.0      9           Windows
3        0.0248       0.028          1.8     12           Windows
4        0.0141       0.032          0.0      5           Android

         browser          region   traffic_type  visitor_type  weekend  \
0  Google Chrome   North America        Twitter             0    False
1  Google Chrome  Western Europe  Google search             0     True
2  Google Chrome            Asia        Twitter             0    False
3  Google Chrome  Western Europe  Instagram ads             0    False
4  Google Chrome   North America  Instagram ads             0    False

   revenue
0    False
1    False
2    False
3     True
4    False

In [23]:
df = pd.read_csv("customer_activity.csv")  # Reload if needed
print(df["visitor_type"].unique())  # Check if original values are back

['Returning_Visitor' 'New_Visitor' 'Other']

In [24]:
print(df["visitor_type"].unique())

['Returning_Visitor' 'New_Visitor' 'Other']

In [25]:
print(df["visitor_type"].dtype)

object

In [26]:
df["visitor_type"] = df["visitor_type"].map({"Returning_Visitor": 1, "New_Visitor": 0, "Other": 2})

In [27]:
print(df["visitor_type"].unique())  # Should show [1, 0, 2] if successful
print(df["visitor_type"].dtype)  # Should now be 'int64'

[1 0 2]
int64

In [28]:
for col in ["browser", "region", "traffic_type"]:
    print(f"Unique values in {col}:\n", df[col].unique(), "\n")

Unique values in browser:
 ['Google Chrome' 'Safari' 'Microsoft Edge' 'Mozilla Firefox'
 'Samsung Internet' 'Sogou Explorer' 'Opera' 'Yandex' 'QQ'
 'Internet Explorer' 'Android' 'UC Browser' 'Undetermined']

Unique values in region:
 ['North America' 'Western Europe' 'Asia' 'South America' 'Northern Africa'
 'Southern Africa' 'Africa' 'Eastern Europe' 'Oceania']

Unique values in traffic_type:
 ['Twitter' 'Google search' 'Instagram ads' 'Youtube channel'
 'Instagram Page' 'Affiliate marketing' 'Facebook ads' 'Youtube ads'
 'Tik Tok ads' 'Bing search' 'Direct Traffic' 'Newsletter' 'Other'
 'Yahoo Search' 'Pinterest' 'Yandex search' 'Tik Tok page' 'Facebook page'
 'DuckDuckGo search']

In [29]:
print(df["month"].unique())  # Should show [1, 2, ..., 12]
print(df["month"].dtype)  # Should show 'int64'

['May' 'Nov' 'Sep' 'Dec' 'Mar' 'June' 'Aug' 'Oct' 'Jul' 'Feb']
object

In [30]:
# Correct the month names to three-letter format
df['month'] = df['month'].replace({"June": "Jun"})

# Verify the change
print(df['month'].unique())  # Should now show consistent month names (e.g., 'Jun', 'May', etc.)
print(df['month'].dtype)  # Should still be 'category'

['May' 'Nov' 'Sep' 'Dec' 'Mar' 'Jun' 'Aug' 'Oct' 'Jul' 'Feb']
object

In [31]:
print(df["visitor_type"].unique())  # Should show [1, 0]
print(df["visitor_type"].dtype)  # Should show 'int64'

[1 0 2]
int64

In [33]:
import numpy as np

# Replace '2' with NaN
df['visitor_type'] = df['visitor_type'].replace(2, np.nan)

# Verify the change
print(df['visitor_type'].unique())  # Should now show [1, 0, nan]
print(df['visitor_type'].dtype)  # Should be 'float64' as NaN is a float

[ 1.  0. nan]
float64

In [34]:
print(df["traffic_type"].unique())  # Should show cleaned and consistent traffic types

['Twitter' 'Google search' 'Instagram ads' 'Youtube channel'
 'Instagram Page' 'Affiliate marketing' 'Facebook ads' 'Youtube ads'
 'Tik Tok ads' 'Bing search' 'Direct Traffic' 'Newsletter' 'Other'
 'Yahoo Search' 'Pinterest' 'Yandex search' 'Tik Tok page' 'Facebook page'
 'DuckDuckGo search']

In [36]:
df.dtypes

administrative              float64
administrative_duration     float64
informational                 int64
informational_duration      float64
product_related             float64
product_related_duration    float64
bounce_rates                float64
exit_rates                  float64
page_values                 float64
month                        object
operating_systems            object
browser                      object
region                       object
traffic_type                 object
visitor_type                float64
weekend                        bool
revenue                        bool
dtype: object

In [38]:
df["traffic_type"] = df["traffic_type"].str.strip().str.title()
print(df["traffic_type"].unique())

['Twitter' 'Google Search' 'Instagram Ads' 'Youtube Channel'
 'Instagram Page' 'Affiliate Marketing' 'Facebook Ads' 'Youtube Ads'
 'Tik Tok Ads' 'Bing Search' 'Direct Traffic' 'Newsletter' 'Other'
 'Yahoo Search' 'Pinterest' 'Yandex Search' 'Tik Tok Page' 'Facebook Page'
 'Duckduckgo Search']

In [40]:
import numpy as np

# Correct 'month' column
df["month"] = df["month"].replace("June", "Jun")

# Correct 'visitor_type' column
df["visitor_type"] = df["visitor_type"].replace(2, np.nan)

# Correct 'traffic_type' column
df["traffic_type"] = df["traffic_type"].str.strip()

# Save the cleaned DataFrame to a new variable
df_transformed = df.copy()

# Optionally, check the changes
print(df_transformed.head())

   administrative  administrative_duration  informational  \
0             0.0                      0.0              0
1             0.0                      0.0              0
2             2.0                     99.4              0
3             0.0                      0.0              0
4             0.0                      0.0              0

   informational_duration  product_related  product_related_duration  \
0                     0.0              4.0                       0.0
1                     0.0             26.0                     876.0
2                     0.0             19.0                     368.0
3                     0.0             20.0                    1432.0
4                     0.0             33.0                     694.0

   bounce_rates  exit_rates  page_values month operating_systems  \
0        0.2000       0.200          0.0   May           Android
1        0.0000       0.026          0.0   Nov           Windows
2        0.0396       0.052          0.0   Sep           Windows
3        0.0248       0.028          1.8   Dec           Windows
4        0.0141       0.032          0.0   May           Android

         browser          region   traffic_type  visitor_type  weekend  \
0  Google Chrome   North America        Twitter           1.0    False
1  Google Chrome  Western Europe  Google Search           1.0     True
2  Google Chrome            Asia        Twitter           1.0    False
3  Google Chrome  Western Europe  Instagram Ads           1.0    False
4  Google Chrome   North America  Instagram Ads           1.0    False

   revenue
0    False
1    False
2    False
3     True
4    False

In [41]:
class DataTransform:
    def __init__(self, df):
        self.df = df
    
    def transform_month(self):
        # Change 'June' to 'Jun'
        self.df["month"] = self.df["month"].replace("June", "Jun")
    
    def transform_visitor_type(self):
        # Replace '2' with NaN
        self.df["visitor_type"] = self.df["visitor_type"].replace(2, pd.NA)
    
    def transform_traffic_type(self):
        # Remove spaces and keep capitalization intact
        self.df["traffic_type"] = self.df["traffic_type"].str.replace(' ', '', regex=True)

    def apply_transformations(self):
        self.transform_month()
        self.transform_visitor_type()
        self.transform_traffic_type()
        return self.df


# Instantiate the class with the original dataframe
data_transformer = DataTransform(df)

# Apply transformations
df_transformed = data_transformer.apply_transformations()

# Save the transformed data to a new CSV file (optional step)
df_transformed.to_csv("cleaned_data.csv", index=False)

# Verify the transformed data
print(df_transformed.head())

   administrative  administrative_duration  informational  \
0             0.0                      0.0              0
1             0.0                      0.0              0
2             2.0                     99.4              0
3             0.0                      0.0              0
4             0.0                      0.0              0

   informational_duration  product_related  product_related_duration  \
0                     0.0              4.0                       0.0
1                     0.0             26.0                     876.0
2                     0.0             19.0                     368.0
3                     0.0             20.0                    1432.0
4                     0.0             33.0                     694.0

   bounce_rates  exit_rates  page_values month operating_systems  \
0        0.2000       0.200          0.0   May           Android
1        0.0000       0.026          0.0   Nov           Windows
2        0.0396       0.052          0.0   Sep           Windows
3        0.0248       0.028          1.8   Dec           Windows
4        0.0141       0.032          0.0   May           Android

         browser          region  traffic_type  visitor_type  weekend  revenue
0  Google Chrome   North America       Twitter           1.0    False    False
1  Google Chrome  Western Europe  GoogleSearch           1.0     True    False
2  Google Chrome            Asia       Twitter           1.0    False    False
3  Google Chrome  Western Europe  InstagramAds           1.0    False     True
4  Google Chrome   North America  InstagramAds           1.0    False    False

In [ ]:
# Correct specific cases with proper capitalization and spaces
df["traffic_type"] = df["traffic_type"].replace({
    "InstagramAds": "Instagram Ads",
    "TikTokads": "Tik Tok ads",
    "GoogleSearch": "Google search",
    "Youtubechannel": "YouTube channel",
    "TikTokpage": "Tik Tok page"
})

# Verify the change
print(df["traffic_type"].unique())

In [42]:
# Apply the correct spacing by adding spaces between terms that are supposed to be separate
df["traffic_type"] = df["traffic_type"].replace({
    "TikTokads": "TikTok Ads",
    "Instagramads": "Instagram Ads",
    "Facebookads": "Facebook Ads",
    "GoogleSearch": "Google Search",
    "Youtubechannel": "YouTube Channel",
    "Pinterest": "Pinterest"
}, regex=True)

# Verify the changes
print(df["traffic_type"].unique())

['Twitter' 'Google Search' 'InstagramAds' 'YoutubeChannel' 'InstagramPage'
 'AffiliateMarketing' 'FacebookAds' 'YoutubeAds' 'TikTokAds' 'BingSearch'
 'DirectTraffic' 'Newsletter' 'Other' 'YahooSearch' 'Pinterest'
 'YandexSearch' 'TikTokPage' 'FacebookPage' 'DuckduckgoSearch']

In [43]:
# Correcting spacing for all traffic types
df["traffic_type"] = df["traffic_type"].replace({
    "InstagramAds": "Instagram Ads",
    "GoogleSearch": "Google Search",
    "Youtubechannel": "YouTube Channel",
    "Pinterest": "Pinterest",
    "Facebookads": "Facebook Ads",
    "Youtubeads": "YouTube Ads",
    "TikTokAds": "TikTok Ads",
    "BingSearch": "Bing Search",
    "DirectTraffic": "Direct Traffic",
    "TikTokPage": "TikTok Page",
    "FacebookPage": "Facebook Page",
    "DuckduckgoSearch": "DuckDuckGo Search",
    "YahooSearch": "Yahoo Search",
    "YandexSearch": "Yandex Search",
    "InstagramPage": "Instagram Page",
    "AffiliateMarketing": "Affiliate Marketing"
}, regex=True)

# Verify the changes
print(df["traffic_type"].unique())

['Twitter' 'Google Search' 'Instagram Ads' 'YoutubeChannel'
 'Instagram Page' 'Affiliate Marketing' 'FacebookAds' 'YoutubeAds'
 'TikTok Ads' 'Bing Search' 'Direct Traffic' 'Newsletter' 'Other'
 'Yahoo Search' 'Pinterest' 'Yandex Search' 'TikTok Page' 'Facebook Page'
 'DuckDuckGo Search']

In [44]:
# Manually correcting the terms that still need spacing
df["traffic_type"] = df["traffic_type"].replace({
    "YoutubeChannel": "YouTube Channel",
    "FacebookAds": "Facebook Ads",
    "YoutubeAds": "YouTube Ads",
    "TikTokAds": "TikTok Ads",
    "BingSearch": "Bing Search",
    "DirectTraffic": "Direct Traffic",
    "TikTokPage": "TikTok Page",
    "FacebookPage": "Facebook Page",
    "DuckduckgoSearch": "DuckDuckGo Search"
})

# Verify the changes
print(df["traffic_type"].unique())

['Twitter' 'Google Search' 'Instagram Ads' 'YouTube Channel'
 'Instagram Page' 'Affiliate Marketing' 'Facebook Ads' 'YouTube Ads'
 'TikTok Ads' 'Bing Search' 'Direct Traffic' 'Newsletter' 'Other'
 'Yahoo Search' 'Pinterest' 'Yandex Search' 'TikTok Page' 'Facebook Page'
 'DuckDuckGo Search']

In [45]:
# Saving the cleaned data to the DataTransform class
data_transform = DataTransform(df)

# Save the cleaned data to a new file, for example, 'cleaned_data.csv'
df_cleaned = data_transform.cleaned_data
df_cleaned.to_csv("cleaned_data.csv", index=False)

# You can now load the cleaned data for future use
print("Cleaned data saved as 'cleaned_data.csv'")

AttributeError: 'DataTransform' object has no attribute 'cleaned_data'

In [46]:
class DataTransform:
    def __init__(self, df):
        self.df = df
        self.cleaned_df = df  # Store the original DataFrame here
    
    def clean_data(self):
        # Add the cleaning steps here (e.g., replacing values, formatting, etc.)
        self.df["month"] = self.df["month"].replace({"June": "Jun"})
        self.df["visitor_type"] = self.df["visitor_type"].replace({2: pd.NA})
        self.df["traffic_type"] = self.df["traffic_type"].str.replace(r'\s+', ' ', regex=True)
        self.df["traffic_type"] = self.df["traffic_type"].str.title()  # Correct capitalization
        # Add any other cleaning steps you want to include here
        
    def get_cleaned_data(self):
        # Return the cleaned DataFrame
        return self.df

In [47]:
# Create an instance of the DataTransform class
data_transform = DataTransform(df)

# Clean the data
data_transform.clean_data()

# Get the cleaned data and save to a CSV file
df_cleaned = data_transform.get_cleaned_data()
df_cleaned.to_csv("cleaned_data.csv", index=False)